.navbar, .navbar-header, .navbar-collapse, .navbar-brand, .navbar-nav, .navbar-nav > li, .navbar-nav > li > a {
    border-radius: 0px;
}
.navbar-collapse {
    background-color: #5cb85c;
}
.navbar-brand, .navbar-brand:focus, .navbar-brand:active, .navbar-nav > li > a {
    color: #fff;
    background-color: rgba(92, 184, 92, 0);
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-nav > li > a:hover {
    background-color: #449D44;
}
.navbar-brand:hover {
    color: #fff;
    background-color: #449D44;
}
.navbar-nav > .active > a {
    background-color: #449D44 !important;
}
.navbar {
    background-color: #5cb85c;
    border-color: transparent;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.nav .open > a:active {
    background-color: #449D44;
}
.dropdown-menu {
    background-color: #449D44;
}
.dropdown-menu > li > a {
    color: #fff;
    background-color: rgba(92, 184, 92, 0);
    -webkit-transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    -o-transition: background-color 1s linear;
    transition: background-color 1s linear;
}
.dropdown-menu > li:hover,
.dropdown-menu > li > a:hover {
    background-color: rgba(92, 184, 92, 1);
    color: #fff;
}