<div class="modal-header">
  <button type="button" class="close" (click)="bsModalRef.hide()">&times;</button>
  <h4 class="modal-title">{{ title }}</h4>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <h5><b>Reservations</b></h5>
    <p *ngIf="reservations?.length < 1">No reservations.</p>
    <div class="row" *ngFor="let reservation of reservations">
      <accordion>
        <accordion-group heading="{{ reservation.startDate | date: 'dd-MM-yyyy' }} - {{ reservation.endDate | date: 'dd-MM-yyyy' }}">
            <p><b>Type:</b> {{ reservation.areaType.name }}</p>

            <div *ngFor="let stay of reservation.stays">
              <div><p><b>{{ stay.startDate | date: 'dd-MM-yyyy' }} - {{ stay.endDate | date: 'dd-MM-yyyy' }}</b></p></div>
              <div *ngFor="let guest of stay.guests">
                <p>{{ guest.firstname }} {{ guest.lastname }}</p>
              </div>
            </div>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="submit" class="btn" (click)="bsModalRef.hide()" (click)="onClose()">Close</button>
</div>