<div class="row" [formGroup]="guestGroup">

  <!-- Anonymous person -->
  <!--<div *ngIf="i + 1 > 1" class="form-group col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
    <div class="clearfix">
      <div class="pull-left">
        <label>Anonymous</label>
        <input type="checkbox" formControlName="anonymous" />
      </div>

      <i class="glyphicon glyphicon-remove remove-icon pull-right" *ngIf="i+1 !== 1" (click)="removeGuest(stay, i)"></i>
    </div>
  </div>-->

  <!-- Passport number -->
  <div class="form-group col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
    <label>Passport number</label>
    <div class="input-group">
      <input type="text" class="form-control" formControlName="passport" placeholder="Passport number" />
      <div class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </div>
    </div>
  </div>

  <!-- Firstname -->
  <div class="form-group col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-0">
    <label>First name</label>
    <input type="text" class="form-control" formControlName="firstname" placeholder="Firstname" />
  </div>

  <!-- Lastname -->
  <div class="form-group col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-0">
    <label>Last name</label>
    <input type="text" class="form-control" formControlName="lastname" />
  </div>

</div>