<div class="container">
  <spinner name="create-reservation-spinner"></spinner>
  <app-alert></app-alert>

  <form [formGroup]="editReservationForm" (ngSubmit)="saveReservation()">
    <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">

      <div *ngFor="let stay of editReservationForm.controls.staysArray.controls; let in = index" formArrayName="staysArray" class="panel panel-success">

        <div class="panel-heading" [formGroupName]="in">
          <div class="form-group">
            <i class="glyphicon glyphicon-remove remove-icon pull-right" *ngIf="in + 1 > 1" (click)="removeStay(in)"></i>
          </div>

          <div class="clearfix">
            <my-date-picker class="form-group col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1" [disabled]="in + 1 == 1" [(options)]="myDatePickerOptions" formControlName="startDate"></my-date-picker>
            <my-date-picker class="form-group col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1" [disabled]="in + 1 == 1" [(options)]="myDatePickerOptions" formControlName="endDate"></my-date-picker>
          </div>
        </div>

        <div class="panel-body" [formGroupName]="in">
          <div *ngFor="let guest of stay.controls.guestArray.controls; let i = index" formArrayName="guestArray">

            <div class="row" [formGroupName]="i">

              <!-- Anonymous person -->
              <div *ngIf="i + 1 > 1" class="form-group col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                <div class="clearfix">
                  <div class="pull-left">
                    <label>Anonymous</label>
                    <input type="checkbox" formControlName="anonymous" />
                  </div>

                  <i class="glyphicon glyphicon-remove remove-icon pull-right" *ngIf="i+1 !== 1" (click)="removeGuest(stay, i)"></i>
                </div>
              </div>

              <!-- Passport number -->
              <div class="form-group col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                <label>Passport number</label>
                <div class="input-group">
                  <input type="text" class="form-control" formControlName="passport" placeholder="Passport number" />
                  <div class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                  </div>
                </div>
              </div>

              <!-- Firstname -->
              <div class="form-group col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-0">
                <label>First name</label>
                <input type="text" class="form-control" formControlName="firstname" placeholder="Firstname" />
              </div>

              <!-- Lastname -->
              <div class="form-group col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-0">
                <label>Last name</label>
                <input type="text" class="form-control" formControlName="lastname" />
              </div>

            </div>

            <div class="divider" *ngIf="stay.controls.guestArray.length > i+1"></div>

          </div>

          <button class="btn btn-success" (click)="addGuest(stay)">Add new guest</button>
        </div>
      </div>
      <button class="btn btn-success" (click)="addStay()">Add new period</button>

    </div>

    <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">

      <!-- Start date -->
      <div class="form-group col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <label>Start date</label>
        <my-date-picker name="startDate" [options]="myDatePickerOptions" formControlName="reservationStartDate"></my-date-picker>
      </div>

      <!-- End date -->
      <div class="form-group col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <label>End date</label>
        <my-date-picker name="endDate" [(options)]="myDatePickerOptions" formControlName="reservationEndDate"></my-date-picker>
      </div>

      <!-- Available spots -->
      <div class="form-group col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <div class="well clearfix">
          <div class="col-lg-9 col-lg-offset-0 col-md-9 col-md-offset-0 col-sm-9 col-sm-offset-0 col-xs-9 col-xs-offset-0">
            <h3>Available spots</h3>

            <div *ngIf="availableSpots > 0; then spotSuccess else spotFail"></div>
            <ng-template #spotSuccess>
              <p>There are {{ availableSpots }} spots available.</p>
            </ng-template>
            <ng-template #spotFail>
              <p>There are no spots available.</p>
            </ng-template>
          </div>

          <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-3 col-sm-offset-0 col-xs-3 col-xs-offset-0">
            <i class="glyphicon pull-right" [ngClass]="availableSpots > 0 ? 'glyphicon-ok' : 'glyphicon-remove'"></i>
          </div>
        </div>
      </div>

      <!-- Price calculation -->
      <div class="form-group col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <div class="well clearfix">
          <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
            <h3 class="pull-left">Calculated price</h3>
            <h3 class="pull-right">{{ calculatedPrice }}</h3>
          </div>
        </div>
      </div>

      <div class="form-group col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <button type="submit" class="btn btn-success">Create reservation</button>
      </div>
    </div>
  </form>
</div>